@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: var(--color-black-1);
}

:root {
  --color-gray-1: #E7EDF2;
  --color-black-1: #2B292A;
  --radius: 0.5rem;
}


